<section id="about" class="about ui-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h2 class="ui-section__title _line">О нас</h2>
                <div class="ui-section__text">
                    <p><strong>Цифровой Базар</strong> – дистрибьютор цифрового контента (различных услуг, программного обеспечения, подписок) с помощью облачной платформы - легкой в настройке, быстрой в интеграции и простой в управлении.</p>
                </div>
            </div>
            <div class="col-lg-6 about__square">
                <div class="about__square-text">Мы предлагаем <span class="ui-section__highlight">готовое цифровое решение</span> для компаний с любой инфраструктурой из любой отрасли бизнеса.</div>
            </div>
        </div>
    </div>
</section>