<section id="advantages" class="advantages ui-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 advantages-image"></div>
            <div class="col-lg-6 advantages-content">
                <h2 class="ui-section__title _line">Чем мы лучше</h2>
                <div class="row advantages__list">
                    <div class="advantages__item col-md-6 col-lg-12 col-xl-6">
                        <div class="advantages__title _c-primary">Гибкость и масштабируемость</div>
                        Адаптивность платформы к любой
                        инфраструктуре. Мы
                        предоставим удобный способ продажи электронных ключей,
                        подписок и сервисов для розничных сетей, операторов связи, интернет-магазинов.
                    </div>
                    <div class="advantages__item col-md-6 col-lg-12 col-xl-6">
                        <div class="advantages__title _c-yellow">Интеграция</div>
                        Мы предоставляем возможность интеграции не только
                        классических точек продаж, но и интернет-магазинов, биллинговых
                        систем, личных кабинетов, а также программ лояльности наших
                        клиентов.
                    </div>
                    <div class="advantages__item col-md-6 col-lg-12 col-xl-6">
                        <div class="advantages__title _c-blue">Развитие бизнеса</div>
                        Мы готовы помочь с готовыми решениями,
                        оптимальными для вашего бизнеса - пакеты услуг, продуктов,
                        различные бандлы, тарифы и многое другое.
                    </div>
                    <div class="advantages__item col-md-6 col-lg-12 col-xl-6">
                        <div class="advantages__title _c-maroon">Продвижение</div>
                        Мы предложим эффективные
                        способы продвижения продуктов, оформления мест продаж,
                        мерчендайзинга. Также, мы организуем онлайн обучения продавцов
                        и предоставляем программы мотивации (по согласованию с нашими
                        клиентами).
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>