<section id="masthead" class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-7">
                <div class="masthead__title">
                    Колорит<br/>
                    цифрового<br/>
                    мира
                </div>
                <div class="masthead__text">
                    Софт. Развлечения. Сервисы
                </div>
                <div class="masthead__action">
                    <a href="#about" class="btn btn-main js-anchor">
                        Подробнее
                    </a>
                </div>
            </div>
            <div class="col-xl-5 d-none d-xl-block">
            </div>
            <a href="#about" class="masthead__scroll js-anchor">
                <span class="icon icon-scroll"></span>
            </a>
        </div>
    </div>
</section>