</div>

<footer class="footer">
    <div class="container">
        <div class="row align-items-sm-start">

            <div class="col-lg-2 col-xl-1">
                <div class="footer-logo">
                    <img src="{{ asset('landing/build/img/logo-w.svg') }}" alt="">
                </div>
            </div>

            <div class="col-lg-6 col-xl-8">
                <div class="footer-nav">
                    <nav class="main-menu">
                        <ul class="main-menu__list ">
                            <li class="main-menu__item">
                                <a href="#about" class="main-menu__link js-anchor"><span>О нас</span></a>
                            </li>

                            <li class="main-menu__item">
                                <a href="#advantages" class="main-menu__link js-anchor"><span>Чем мы лучше</span></a>
                            </li>

                            <li class="main-menu__item">
                                <a href="#packages" class="main-menu__link js-anchor"><span>Наши продукты</span></a>
                            </li>

                            <li class="main-menu__item">
                                <a href="#contacts" class="main-menu__link js-anchor"><span>Стать партнером</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-lg-4 col-xl-3">
                <div class="footer-contacts">
                    <div class="footer-contacts__address">
                        115088, г. Москва,
                        <span>ул. Южнопортовая, д.5, стр. 1</span>
                    </div>
                    <div class="footer-contacts__email">
                        info@digitalbazaar.ru
                    </div>
                    <div class="footer-contacts__copyright">
                        (C) Digital bazaar {{ dt }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% block javascript_footer %}
    <script src="{{ asset('landing/build/js/main.js') }}"></script>
{% endblock %}
</body>
</html>